.backButtonWrapper {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    @media (min-width: 768px) {
        display: none;
    }

    @media (min-width: 1280px) {
        display: flex;
        padding: 0.75rem 6.25rem;
    }

    & button {
        border: none;
        background-color: var(--color-white);
        cursor: pointer;
        display: flex;
        align-items: center;

        & span {
            text-transform: uppercase;
            vertical-align: center;
        }
    }
}