.buttonCustom {
    border: 1px solid var(--color-black);
    padding-block: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    background-color: var(--color-black);
    color: white;

    &:disabled {
        background-color: var(--color-disabled);
        color: var(--color-text-disabled);
    }
}

.white {
    background-color: var(--color-white);
    color: var(--color-black);
}