.card {
    padding: 1rem;
    outline: 1px solid var(--color-black);

    .cardImage {
        width: 100%;
        margin-bottom: 1.5rem;
        height: 257px;
        object-fit: contain;

        @media (min-width: 768px) {
            height: 290px;
        }

        @media (min-width: 1280px) {
            height: 257px;
        }


    }

    .cardInfoContainer {
        display: grid;
        grid-template-columns: 1fr auto;
        font-weight: 300;
        font-family: helvetica;

        .itemPrice,
        .itemName {
            font-size: 12px;
            color: var(--color-black)
        }

        .brandAndName {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-transform: uppercase;

            .itemBrand {
                font-size: 10px;
                color: var(--color-grey);
            }

        }

        .itemPrice {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}