.wrapper {

    .track {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        width: calc(100vw - 1rem);
        padding-bottom: 2.5rem;
    }

    .track::-webkit-scrollbar {
        height: 1px;
    }

    .track::-webkit-scrollbar-track {
        background: var(--color-grey-light)
    }

    .track::-webkit-scrollbar-thumb {
        background: var(--color-black);
    }

    .item {
        flex-shrink: 0;
        scroll-snap-align: start;
        width: calc(100% - 2rem);

        @media (min-width: 768px) {
            width: calc(50% - 2rem);
        }

        @media (min-width: 1280px) {
            width: auto;
        }
    }
}