.headerWrapper {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;

    @media (min-width: 768px) {
        display: none;
    }

    @media (min-width: 1280px) {
        display: flex;
        padding: 0.75rem 6.25rem;
    }

    & a {
        text-decoration: none;
        cursor: pointer;
    }

    .checkoutWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            margin-left: 0.5rem;
            color: var(--color-black)
        }

    }
}