.itemsContainer {
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;

    @media (min-width: 768px) {
        padding: 3rem 2.5rem;
    }

    @media (min-width: 1280px) {
        padding: 3rem 6.25rem;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1280px) {
        grid-template-columns: repeat(5, 1fr);
    }
}