.radioButtons {
    border: none;
    margin-bottom: 2rem;

    .radioButtonLegend {
        margin-bottom: 1.25rem;
        font-size: 0.75rem;
    }

    .radioButtonInput[type="radio"] {
        position: absolute;
        opacity: 0;
        pointer-events: none;

    }

}

.radioButtons.capacityPicker {
    .radioButtonLabel {
        display: inline-block;
        padding: 1rem 1.5rem;
        border: 1px solid var(--color-grey-light);
        cursor: pointer;
        font-size: 0.75rem;
    }

    .radioButtonInput[type="radio"]:checked+label,
    .radioButtonLabel:has(input:checked) {
        border: 1px solid var(--color-black);

    }
}

.radioButtons.capacityPicker {
    .radioButtonLabel {
        display: inline-block;
        padding: 1rem 1.5rem;
        border: 1px solid var(--color-grey-light);
        cursor: pointer;
        font-size: 0.75rem;
    }

    .radioButtonInput[type="radio"]:checked+label,
    .radioButtonLabel:has(input:checked) {
        border: 1px solid var(--color-black);
    }
}

.radioButtons.colorPicker {
    .radioButtonContainer {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem
    }

    .radioButtonLabel {
        border: 1px solid var(--color-grey-light);
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        padding: 2px;
    }

    .radioButtonSpan {
        display: block;
        width: 100%;
        height: 100%;
    }

    .radioButtonInput[type="radio"]:checked+label,
    .radioButtonLabel:has(input:checked) {
        border: 1px solid var(--color-black);
    }

    .radioButtonColorName {
        font-size: 0.75rem
    }
}