.radioButtons {
    border: none;
    margin-bottom: 2rem;

    & legend {
        margin-bottom: 1.25rem;
        font-size: 0.75rem;
    }

    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        pointer-events: none;

    }

}

.radioButtons.capacityPicker {
    & label {
        display: inline-block;
        padding: 1rem 1.5rem;
        border: 1px solid var(--color-grey-light);
        cursor: pointer;
        font-size: 0.75rem;
    }

    & input[type="radio"]:checked+label,
    & label:has(input:checked) {
        border: 1px solid var(--color-black);

    }
}



.radioButtons.colorPicker {
    & div {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem
    }

    & label {
        border: 1px solid var(--color-grey-light);
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        padding: 2px;
    }

    & span {
        display: block;
        width: 100%;
        height: 100%;
    }

    & input[type="radio"]:checked+label,
    & label:has(input:checked) {
        border: 1px solid var(--color-black);
    }

    & p {
        font-size: 0.75rem
    }
}