.pageDetailsContainer {
    padding: 0 1rem;

    @media (min-width: 768px) {
        padding: 0 2.5rem;
    }

    @media (min-width: 1280px) {
        display: flex;
        justify-content: center;
        overflow-x: clip;


        .pageDetailsWrapper {
            padding: 0;
            width: 1200px;
        }
    }

    .carouselCard {
        & article {
            border: 1px solid var(--color-black);
        }

        & img {
            @media (min-width: 1280px) {
                height: 257px;
                width: 312px;
            }

        }
    }
}