.searchBarContainer {
    padding: 0.75rem 1rem;
    width: 100%;
    margin: 1.5rem 0;

    @media (min-width: 768px) {
        padding: 3rem 2.5rem;
    }

    @media (min-width: 1280px) {
        padding: 3rem 6.25rem;
    }

    .searchForm {
        display: grid;
        grid-template-columns: 1fr auto;
        width: 100%;
        border-bottom: 1px solid var(--color-black);
        padding-bottom: 0.5rem;
        margin-bottom: 0.75rem;

        .searchBox {
            border: none;
            font-size: 1rem;
            font-family: Helvetica;
            height: 1.25rem;

            &:focus {
                outline: none;
            }

            &::-webkit-search-cancel-button {
                display: none;
            }
        }

        .clearButton {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    .searchBarResults {
        font-size: 0.75rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
    }
}